.personal-boardgame-page {
  padding: 0 20px;

  .title {
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: 40px;
  }

  .select-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .select-container {
      display: flex;
      align-items: center;
    }

    .select {
      margin: 10px 20px 10px 6px;
      min-width: 200px;
    }
  }
}