.personal-momerandum-page {
  padding: 20px;

  .title {
    margin: 20px;
    text-align: center;
    font-size: 28px;
  }
  
  .bigger {
    transform: scale(1.2);
  }

  .container {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  
  .width-300 {
    width: 300px;
  }


  .width-100 {
    width: 100px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;

    width: 100%;
    padding: 20px 0;

    box-shadow: -5px 0 10px #ddd;
  }
}
